body{
    background-color: aliceblue;
}

#content{
    width: 50%;
    margin: 20% 42%;
}

#content p{
    padding-left: 4%;
}

#new{
    width: 14%;
    margin: 3% 75% 3% 5%;
}

#cancel{
    padding-left: 8%;
    margin-bottom: 20%;
}