<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link rel="stylesheet" th:href="@{css/createUser.css}">
</head>
<body>
<div id="wrapper">
    <header>
        <img th:src="@{/images/logo1.png}" id="img"/>
        <h1>New User</h1>
    </header>

    <div id="content">
    <form action="/createUser" method="post">
        <p>Enter username</p>
        <input name="name" type="text">
        <p>Enter password</p>
        <input name="password" type="password">
        <input type="submit" value="Create User" id="new">
        <a href="/" id="cancel">Cancel</a>
    </form>

    </div>
</div>
</body>
</html>