<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<div id="wrapper">
    <div id="content">
    <form action="/createUser" method="post">
        <p>Enter username</p>
        <input name="name" type="text">
        <p>Enter password</p>
        <input name="password" type="password">
        <input type="submit" value="Create User">
        <a href="/">Cancel</a>
    </form>

    </div>
</div>
</body>
</html>