<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>What day is it?</title>
</head>
<body>
<div id="wrapper">
<header>
    <img th:src="@{/images/logo1.png}"/>
    <h1>Little Birdie</h1>

    <ul>
        <li>
            <a href="profilePage">My Profile</a>
        </li>
        <li>
            <a href="friday">Is it Friday?</a>
        </li>
        <li>
            <a href="/">Log Out</a>
        </li>
    </ul>
</header>
    <div id="content">
<h2>hejsa</h2>
    </div>
    <footer>

    </footer>
</div>
</body>
</html>