<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div id="wrapper">
    <header>
        <img>
        <h1>Little Birdie</h1>
    </header>
    <div id="content">

        <form>
            <p>Write username</p>
            <input type="text">
            <p>Write password</p>
            <input type="text">
            <a href="profilePage">
            <input type="button" value="Log in">
            </a>
            <a href="createUser">Create User</a>
        </form>
    </div>

    <footer>

    </footer>
</div>
</body>
</html>