<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<body>
<div id="wrapper">
    <header>
        <img th:src="@{/images/logo1.png}"/>
        <h1>Little Birdie</h1>

        <ul>
            <li>
                <a href="friday">Is it Friday?</a>
            </li>
            <li>
                <a href="calculator">Calculator</a>
            </li>
            <li>
                <form action="/logOut" method="post">
                    <input type="submit" value="Log Out">
                </form>
            </li>
        </ul>
    </header>
    <div id="content">
        <h2 th:text="${session.username}">John Doe</h2>
    </div>
    <footer>

    </footer>
</div>
</body>
</html>